# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [1]:
#pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

In [2]:
import pandas as pd
import numpy as np

In [3]:
elteams=pd.read_csv("datasets/actual.csv")
ecteams=pd.read_excel("datasets/ec2023.xlsx", index_col=False)

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [4]:
# Your Code here: 
ecteams.isnull()
# No nulls

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
168,False,False,False,False,False,False,False,False,False,False
169,False,False,False,False,False,False,False,False,False,False
170,False,False,False,False,False,False,False,False,False,False
171,False,False,False,False,False,False,False,False,False,False
172,False,False,False,False,False,False,False,False,False,False

In [5]:
ecteams.duplicated()
# No duplicateds

0      False
1      False
2      False
3      False
4      False
       ...
168    False
169    False
170    False
171    False
172    False
Length: 173, dtype: bool

In [6]:

ecteams.drop(columns= "Unnamed: 0",inplace=True)
ecteams.head()
# dropped the column unnamed

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0
1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0
2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0
3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0
4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [7]:
#Your sample ecteams code here: 
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
20,2024-01-17T21:00:00,15,Dreamland Gran Canaria,Turk Telekom Ankara,73,83.0,Visitante,83.0,-10.0

In [8]:
#Your sample elteams code here: 
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
150,Euroleague,Regular Season,17,2023-12-28,20:30:00,EA7 Emporio Armani Milan,Baskonia Vitoria-Gasteiz,76,67,"['DIFALLAH, MEHDI', 'VILIUS, GYTIS', 'RADOJKOV...",9,EA7 Emporio Armani Milan,Local

What are the inconsistencies that you are seeing? Write them down!

- Algunas columnas tienen nombres distintos y otras no están en ambos dataframes
- La fecha en ecteams aparece toda en una columna mientras que en elteams aparece en dos columnas
- Plusminus parece tener una formula distinta
- 

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [9]:
#Your Code here: 
ecteams["Competition"] = "EuroCup"
ecteams.head()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Competition
0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0,EuroCup
1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0,EuroCup
2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0,EuroCup
3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0,EuroCup
4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0,EuroCup

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [10]:
#Drop the Column Ganador from the Eurocup Dataframe
ecteams.drop(columns="Ganador", inplace= True)

In [11]:
#Rename the column with the actual information to "Ganador"

ecteams["Ganador"] = np.where(ecteams["plusminus"]>0, "Local","Visitante")
ecteams.head()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,plusminus,Competition,Ganador
0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,-2.0,EuroCup,Visitante
1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,-19.0,EuroCup,Visitante
2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,-20.0,EuroCup,Visitante
3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,-7.0,EuroCup,Visitante
4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,-4.0,EuroCup,Visitante

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [12]:
# Your code here 
ecteams.columns = map(lambda x:str(x).capitalize(),ecteams.columns)
ecteams.columns

Index(['Fecha', 'Ronda', 'Local', 'Visitante', 'Localscore', 'Roadscore',
       'Winner', 'Plusminus', 'Competition', 'Ganador'],
      dtype='object')

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [13]:
# Your code here: 
comp_el = ecteams[["Competition","Localscore","Roadscore","Plusminus","Ganador"]]
comp_ec = elteams[["Competition","Localscore","Roadscore","Plusminus","Ganador"]]

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [14]:
# Your code here: 
competition = pd.concat([comp_el,comp_ec],axis=0)
competition

    Competition  Localscore  Roadscore  Plusminus    Ganador
0       EuroCup         111      113.0       -2.0  Visitante
1       EuroCup          78       97.0      -19.0  Visitante
2       EuroCup          66       86.0      -20.0  Visitante
3       EuroCup          85       92.0       -7.0  Visitante
4       EuroCup          64       68.0       -4.0  Visitante
..          ...         ...        ...        ...        ...
220  Euroleague          79       73.0        6.0      Local
221  Euroleague          80       68.0       12.0      Local
222  Euroleague          76       85.0       -9.0  Visitante
223  Euroleague          88       84.0        4.0      Local
224  Euroleague          76       69.0        7.0      Local

[398 rows x 5 columns]

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [15]:
# 1
competition[competition["Competition"] == "EuroCup"]
#172 partidos de la EuroCup
competition[competition["Competition"] == "Euroleague"]
#225 de la Euroleague

    Competition  Localscore  Roadscore  Plusminus    Ganador
0    Euroleague          94       73.0       21.0      Local
1    Euroleague          96       81.0       15.0      Local
2    Euroleague          79       82.0       -3.0  Visitante
3    Euroleague          80       68.0       12.0      Local
4    Euroleague          91       74.0       17.0      Local
..          ...         ...        ...        ...        ...
220  Euroleague          79       73.0        6.0      Local
221  Euroleague          80       68.0       12.0      Local
222  Euroleague          76       85.0       -9.0  Visitante
223  Euroleague          88       84.0        4.0      Local
224  Euroleague          76       69.0        7.0      Local

[225 rows x 5 columns]

In [16]:
# 2
competition[competition["Competition"] == "EuroCup"].max()
# 114 puntos local y 120 visitante en Eurocup
competition[competition["Competition"] == "Euroleague"].max()
#126 puntos visitante y 130 local en eurolegue

Competition    Euroleague
Localscore            130
Roadscore           126.0
Plusminus            39.0
Ganador         Visitante
dtype: object

In [17]:
# 3
competition[competition["Competition"] == "EuroCup"].describe()
# visitantes de media 83.93 y locales 85.15 en EuroCup
competition[competition["Competition"] == "Euroleague"].describe()
# visitantes de media 79.17 y locales 83.28

       Localscore   Roadscore   Plusminus
count  225.000000  225.000000  225.000000
mean    83.284444   79.173333    4.111111
std     10.933197   10.264415   12.144999
min     55.000000   52.000000  -29.000000
25%     76.000000   73.000000   -4.000000
50%     84.000000   78.000000    5.000000
75%     90.000000   85.000000   12.000000
max    130.000000  126.000000   39.000000

In [20]:
# 4
competition["Absolut_plusminus"] = np.where(competition["Plusminus"] < 0, competition["Plusminus"]*-1, competition["Plusminus"])
#competition.sort_values(["Competition","Absolut_plusminus"], ascending=False)
# in Eurolegue 39 points
competition[competition["Competition"] == "EuroCup"]["Absolut_plusminus"].max()
# Eurocup 39 points
competition[competition["Competition"] == "Euroleague"]["Absolut_plusminus"].max()
# Euroleague 39 points

competition[["Competition","Absolut_plusminus"]].groupby("Competition").max()

             Absolut_plusminus
Competition
EuroCup                   39.0
Euroleague                39.0

In [35]:
# 5 
competition[["Competition","Ganador"]].groupby(["Competition","Ganador"]).agg({"Ganador":"count"})

                       Ganador
Competition Ganador
EuroCup     Local           91
            Visitante       82
Euroleague  Local          150
            Visitante       75

In [155]:
competition.Ganador.value_counts()

Ganador
Local        241
Visitante    157
Name: count, dtype: int64